{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static '/bootstrap-3.4.1-dist/css/swiper.min.css' %}">
    <script src="{% static '/bootstrap-3.4.1-dist/js/swiper.min.js' %}"></script>

</head>
<body style='background: url("{% static '/image/beijing14.jpg' %}");'>

<!--标题最好都加到左上角，不然容易乱-->


<img src="../static/image/logo2.jpg" alt="" style="width: 110px; left: 40px; top: 30px; position: absolute;">

<nav>
    <ul class="list-unstyled">
        <h2 style="position: absolute; top: 200px; left: 30px; font-family: 方正姚体; background: #1b8b7a; color: whitesmoke;">
            商品分类
        </h2>
        <li>
            <a href="#">
                <img src="../static/image/sports2.jpg" alt="" style="position: absolute; width: 90px; left: 40px; top: 280px;">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../static/image/shu2.jpg" alt="" style="width: 100px; left: 40px; top: 380px; position: absolute;">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../static/image/chi2.jpg" alt="" style="width: 110px; left: 30px; top:490px; position: absolute;">
            </a>
        </li>
    </ul>
</nav>

<a href="#">
    <img src="../static/image/search.jpg" alt="" style="width: 70px; left: 1300px; top: 50px; position: absolute;">
</a>

<div class="swiper-container" style="width: 560px; height: 320px; left: 290px; top: 220px; position: absolute; background: lightgrey">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="../static/image/零食.jpg" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="swiper-slide">
            <img src="../static/image/hali.jpg" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="swiper-slide">
            <img src="../static/image/naicha.jpg" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="swiper-slide">
            <img src="../static/image/gundong1.jpg" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="swiper-slide">
            <img src="../static/image/gundong2.jpg" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="swiper-slide">
            <img src="../static/image/gundong3.jpg" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="swiper-slide">
            <img src="../static/image/gundong4.jpg" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="swiper-slide">
            <img src="../static/image/gundong5.jpg" alt="" style="width: 100%; height: 100%;">
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

<img src="../static/image/new3.jpg" alt="" style="width: 195px; left: 270px; top: 620px; position: absolute;">
<img src="../static/image/xinpin.jpg" alt="" style="width: 600px; height: 200px; left: 470px; top: 620px; position: absolute; background: lightgrey">
<!--../static/image/xinpin.jpg-->

<a href="#">
    <h2 style="position: absolute; left: 300px; top: 70px; font-family: 方正姚体; background: #4f338c; color: whitesmoke;">
        首页
    </h2>
</a>

<a href="#">
    <h2 style="position: absolute; left: 450px; top: 70px; font-family: 方正姚体; background: #4f338c; color: whitesmoke;">
        个人中心
    </h2>
</a>

<a href="#">
    <h2 style="position: absolute; left: 670px; top: 70px; font-family: 方正姚体; background: #4f338c; color: whitesmoke;">
        帮助
    </h2>
</a>

<!--<a href="#">-->
<!--    <h2 style="position: absolute; top: 330px; left: 1300px; font-family: 仿宋; font-weight: bold; background: orange; color: black; font-size: 45px">-->
<!--        今<br>日<br>热<br>榜-->
<!--    </h2>-->
<!--</a>-->

<a href="#">
    <h2 style="position: absolute; top: 280px; left: 1020px; font-family: 方正姚体; font-weight: bold; background: orange; color: black;">
        今日热榜
    </h2>
</a>


<p style="position: absolute; font-family: 方正姚体; top: 370px; left: 1020px; font-size: 20px; ">
    1 编译技术 答案 （别想了，骗你的）
<!--    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
</p>
<p style="position: absolute; font-family: 方正姚体; top: 420px; left: 1020px; font-size: 20px; ">
    2 月饼 （北航食堂限量款）
<!--    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
</p>
<p style="position: absolute; font-family: 方正姚体; top: 470px; left: 1020px; font-size: 20px; ">
    3 自动刷TD机 （沙河某位的同学提供）
<!--    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
</p>


<h5 style="background: #0b92e0; color: whitesmoke; font-family: Consolas; left: 1242px; top: 900px; position: absolute;">
    &nbsp;Contact us&nbsp;
</h5>
<a href="#">
    <img src="../static/image/xinfeng3.jpg" alt="" style="width: 90px; left: 1265px; top: 840px; position: absolute;">
</a>


<p style="color: whitesmoke; position: absolute; font-family: 方正姚体; top: 1170px; left: 950px; font-size: 22px; font-weight: bold; background: #de8540;">
    来自某UAA不愿透露姓名的数据库团队&nbsp;&nbsp;制作
</p>

<p style="color: whitesmoke; position: absolute; font-family: Consolas; top: 1170px; left: 755px; font-size: 22px; background: #00c3b4;">
    &nbsp;September.2021&nbsp;
</p>

<h1 style="color: whitesmoke; position: absolute; font-family: Consolas; top: 840px; left: 280px; font-size: 60px; font-weight: bold; background: #e26ea0;">
    &nbsp;TO BE CONTINUE...&nbsp;
</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="height: 962px"></div>
    </div>
</div>

<div class="jumbotron text-center"
             style='margin-bottom:0;background-image: url("{% static '/image/dibu6.jpg' %}");height: 280px;'>
</div>

<script>
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'vertical', // 垂直切换选项
        loop: true, // 循环模式选项

        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },

        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // 如果需要滚动条
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })
</script>


<!--<script>-->
<!--    var swiper = new Swiper('.swiper-container',{-->
<!--        direction : 'vertical',-->
<!--        followFinger : false,-->
<!--        speed:800,-->
<!--        mousewheel: true,-->
<!--        pagination : {-->
<!--            el:'.swiper-pagination',-->
<!--        },-->
<!--        on:{-->
<!--            init:function(swiper){-->
<!--                slide=this.slides.eq(0);-->
<!--                slide.addClass('ani-slide');-->
<!--            },-->
<!--            transitionStart: function(){-->
<!--                for(i=0;i<this.slides.length;i++){-->
<!--                    slide=this.slides.eq(i);-->
<!--                    slide.removeClass('ani-slide');-->
<!--                }-->
<!--            },-->
<!--            transitionEnd: function(){-->
<!--                slide=this.slides.eq(this.activeIndex);-->
<!--                slide.addClass('ani-slide');-->

<!--            },-->
<!--        }-->
<!--    });-->

<!--</script>-->

</body>
</html>